<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <p><%= `Short URL: ${shortURL}` %></p>
  <p><%= `Long URL: ${urlsDB[shortURL]}` %></p>
  <form method = 'POST' action = '/urls/<%= shortURL %>'>
    <label for = 'longURL'>Enter new URL: </label>
    <input id = 'longURL' name = 'newLongURL' placeholder = 'http://'>
    <button>Update URL</button>
  </form>
</body>
</html>