<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <p><%= `Short URL: ${shortURL}` %></p>
  <p><%= `Long URL: ${urlsDB[shortURL]['website']}` %></p>
  <form method = 'POST' action = '/urls/<%= shortURL %>'>
    <label for = 'url-field'>Enter new URL: </label>
    <input id = 'url-field' name = 'newLongURL' placeholder = 'http://'>
    <button>Update URL</button>
  </form>
  <br>
  <form method = 'GET' action = '/urls'>
  <button>Back to Index</button>
  </form>
</body>
</html>